<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LabelText>CENTRAL TEXT WORD</LabelText>
  <FilePath></FilePath>
  <YesButtonText>Yes</YesButtonText>
  <NoButtonText>No</NoButtonText>
  <FormText>PopUpWindows5000</FormText>
  <SettingsButtonText>Settings</SettingsButtonText>
</Configuration>